name: Convert README to PDF

on:
  push:
    branches:
      - main
    paths:
      - 'README.md'

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Setup Pandoc
        uses: pypa/setup-pandoc@v1
        with:
          pandoc-version: '2.14'

      - name: Convert README.md to PDF
        run: |
          pandoc README.md -s -o README.pdf
